
<hr>

<center><h1>Registered Users:</h1></center>

<hr>

<ul>
    <% @usernames.each do |username| %>
        <li><%= link_to username.name, username_path(username) %></li> 
    <% end %>
</ul>

<hr>

<br>
<%= link_to "New Username", new_username_path %>